<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <style>
    .a{
    float:right !important;
    }

  </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
     <a class="navbar-brand" href="#"><img src="https://images.mobileshop.eu/logo.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6">
    <div class="collapse navbar-collapse a" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{%url 'signup' %}" >Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'login' %}" >Login</a>
        </li>

      </ul>
</div>
    </div>
    </div>
  </div>
</nav>


<!--carousel-->
<div class="container-fluid">
  <div class="row">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
<!--    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.mobileshop.eu/1548338240/banner/banner02.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.mobileshop.eu/1548338240/banner/banner03.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <h1>Mobileshop</h1>
      <p>Products. The MobileStore sells mobile phones of domestic and international brands like Apple, BlackBerry, HTC, Karbonn Mobiles, Micromax, Motorola, Spice, Samsung, Sony, VIVO, OPPO and Vodafone. It also provides online mobile and DTH credit recharge through its website.</p>
    <p>Products. The MobileStore sells mobile phones of domestic and international brands like Apple, BlackBerry, HTC, Karbonn Mobiles, Micromax, Motorola, Spice, Samsung, Sony, VIVO, OPPO and Vodafone. It also provides online mobile and DTH credit recharge through its website.</p>

    </div>

    <div class="col-lg-6 ">
      <img src="https://images.mobileshop.eu/1611557857/product-medium/samsung-galaxy-s21-plus-5g-dual-sim-128gb-8gb-ram-sm-g996b-ds-phantom-violet.jpg" alt="" style="width:200px;" class="p">
     <img src="https://images.mobileshop.eu/1626858441/product-medium/oppo-find-x3-pro-5g-dual-sim-256gb-12gb-ram-black.jpg" alt="" style="width:200px;" class="p">

    </div>
  </div>
</div>

<!-- cards view -->
  <div class="container mt-5 bc">
    <div class="row ">
      <div class="col-lg-4 mt-5">
        <div class="card" style="width: 20rem;">
          <img src="https://www.zdnet.com/a/hub/i/r/2021/01/28/f9dbb1d0-2f09-4972-af10-405aff1d567e/resize/1200xauto/f799ea78e4dfe1eaa01446e2b2b04620/galaxy-s21-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">GALAXY S21</h5>
            <p class="card-text">Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity, compass, barometer
 	Samsung DeX, Samsung Wireless DeX (desktop experience support)
Bixby natural language commands and dictation
Samsung Pay (Visa, MasterCard certified)</p>
            <a href="#" class="btn btn-primary ">View more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-5">
        <div class="card" style="width: 20rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUuZ7tI57SglelbqWZso8e1d1qEkq5ywyHnA&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SUPERNOVA</h5>
            <p class="card-text">SMS, MMS, Email
Browser 	WAP 2.0/xHTML, HTML, Adobe Flash Lite
Games 	Snake 3D, Bounce II, Sudoku, Sea Sweeper
Java 	Yes, MIDP 2.0
 	MP3/eAAC+/WMA player
MP4/H.264 player
Flickr Upload
Voice dial/memo
Predictive text input</p>
            <a href="#" class="btn btn-primary">View more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4  mt-5">
        <div class="card" style="width: 20rem;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ751Kbm0vxoFs3S1wW43AjwRqksD6UCrN_nA&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ONE PLUS</h5>
            <p class="card-text">Fingerprint (under display, ultrasonic), accelerometer, gyro, proximity, compass, barometer
 	Samsung DeX, Samsung Wireless DeX (desktop experience support)
Bixby natural language commands and dictation
Samsung Pay (Visa, MasterCard certified)</p>
            <a href="#" class="btn btn-primary">View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<footer style="background-color:#2d3e50;color:white;">
  <div class="container">
    <div class="row">

      <div class="col-6">
        <h1>ABOUT</h1>
        <ul type="none">
          <li>Career</li>
          <li>Terms & condition</li>
          <li>Privacy policy</li>
          <li>Cookies policy</li>
        </ul>
      </div>

      <div class="col-6 col-lg-6">
<h1>CONTACT</h1>
        <ul type="none">
          <li>Phone:985325252</li>
          <li>Email: mobshop@007.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>